:root {
    --color-primary: #ff0054;
    --color-primary-content: #000000;
    --color-accent: #dd0066;
    --color-secondary: #ff0099;
    --color-walk: #5400ff;
    --color-func-text: oklch(52.94% 0.185 145.06);
    --color-func-text-content: darkgreen;
    --color-func: oklch(78.16% 0.16721 70.492);
    --color-p5-text: rgb(255, 105, 11);
    --color-p5-text-content: rgb(182, 126, 15);

    --font-old-sans: "MS Sans Serif";
    --font-weird: "Track", "Inconsolata", "MS Sans Serif", fantasy, script, sans-serif;
    --font-nabla: "Nabla"
}

@font-face {
    font-family: 'Kingthings Extortion';
    src: url('/assets/Kingthings Extortion.ttf');
}

body {
    font-family: "Amiko","Arial Nova","Helvetica","Arial","MS Sans Serif",sans-serif;    
}

h1 {
    font-size: 1.5em;
}

.font-weird {
    font-family: var(--font-weird);
}

.hidden {
    display: none;
}

.font-threed {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "EDPT" 80, "EHLT" 12;
    font-size: 1.9em;
}

#main-hex {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Optional: for a fade-in effect */
}

.font-random {
    font-family: "Kingthings Extortion";
    font-size: 1.4em;
}

.container-reload {
    float: left;
    width: 98%;
}

.container-reload > input {
    width: 80px;
    height: 30px;
}

.container-down {
    float: right;
    margin-right: 7%;
    margin-top: 1vh;
}

.caption {
    margin-left: 20px;
    margin-top: 20px;        
}

.sidebar {
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
    font-size: 1.1em;
    width: 18%;
}

.nav {
    position: relative;        
}

ul {
    list-style: none;
}

nav ul li {
    margin-top: 5px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-accent);
}

nav ul li a:hover {
    font-size: 1.4rem;
}

.main-thing {
    position: relative;
    width: 82%;
    float: right;
}

.main-thing > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container-bottom {
    display: flex;
    justify-content: space-evenly;
    gap: 3vw;    
    margin-top: 3vh;
}

ul.imgtypes-list li {
    width: 100%;
}

.tdl_imgtype.active {
    font-weight: bolder;
    font-size: 1.25em;
    display: inline-block;        
    text-shadow: 2px 2px 1px white;
}

.tdl-imgtype {
    display: inline-block;
    font-size: .7em;
}

hr.tdl_sep {
    margin-right: 20px;
    height: 1px;
    background-color: var(--color-secondary);
    color: var(--color-secondary);
}

.tdl-input-insert,
.tdl-input-walk {
    color: var(--color-walk);
}

.tdl-input-func {
    color: var(--color-func);
}

.tdl-input-insert.active,
.tdl-input-walk.active {
    background: linear-gradient(to right, white, var(--color-walk));
}

.tdl-input-func.active {
    background: linear-gradient(to right, white, var(--color-func));
}

.tdl-output-img:not(.tdl-input-walk):not(.tdl-input-insert):not(.tdl-input-func).active {
    background: linear-gradient(to right, white, var(--color-secondary) 94%, white 95%);
    color: var(--color-primary);
}

.tdl-output-txt {
    color: var(--color-func-text);
}

.tdl-output-txt.active {
    background: linear-gradient(to right, white, var(--color-func-text-content));
    color: var(--color-func-text-content);
}

.tdl-output-p5 {
    color: var(--color-p5-text);
}

.tdl-output-p5.active {
    background: linear-gradient(to right, white, var(--color-p5-text-content));
    color: var(--color-p5-text-content);
}

.lemmas {
	width: 75%;
	margin: 0 auto;
	text-align: center;
}

.output-text-llm {
    width: 75%;
    margin: auto auto;
}

.output-text-llm img {
    display: block;
    width: 100%;
    margin: 0 auto 3vh auto;
}

.output-text ul {
    font-family: var(--font-old-sans);
    font-size: 1.22em;
    display: grid;    
    gap: .3em;
}

.output-text ul:not(.palette) {
    background: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: anim-img-bg 22s linear 0s infinite alternate both
}

.output-text ul.palette {
    color: black;
}

.output-text:not(.single-file) ul {
    grid-template-columns: repeat(2, 1fr);
}

.output-text table th {
    font-weight: bold;
}

.output-text table tr, 
.output-text table td,
.output-text table th {
	padding: .5vw;
	border: 2px dotted gainsboro;
}

.description-container {
    margin-bottom: 5vh;
    font-family: var(--font-weird);
    font-size: 1.5em;
}

.output-img:not(.loaded) {
    animation: anim-img-fg 4s linear 0s infinite normal both;    
}

@keyframes anim-img-fg {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(359deg);
    }
}

.output-img:hover {
    border: 2px solid black;
}

.result-container {
    width: 75%;
}

.result-container-img img {
    width: 100%;
}

.result-container-inner {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.result-container-img:not(.loaded) {
    background-image: linear-gradient(to bottom, red 0%, orange 10%, yellow 20%, #00ff00 30%, green 40%, blue 50%, indigo 60%, #9000ff 70%, #FF00FF 80%, #fff 90%, red 100%);
    width: 30vw;
    min-width: 30vw;    
    min-height: 45vh;
    background-size: cover;
    animation: anim-img-bg 10s linear 0s infinite alternate both;
    transition: all;        
}

.time-elapsed.loaded {
    color: green;
    font-weight: bold;
}
.time-elapsed.not-loaded {
    color: red;
    font-weight: bold;
}

.tdl-img-fast,
.tdl-img-norm,
.tdl-img-slow {
    font-weight: bold;
}

.tdl-img-slow {
    color: red;
}

.tdl-img-norm {
    color: black;
}

.tdl-img-fast {
    color: green;
}

@keyframes anim-img-bg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50vw 100vh;
    }
}

.path-sources {
    margin-top: 7px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;    
    margin: 0 0 0 0;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.sacred-output-main {
    width: 50%;
}

.sacred-output-states {
    width: 75%;
}

.sacred-output {    
    margin-top: 3vh;
    border: 3px solid #009900;        
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#palette-table tr td {
	text-align: center;
    font-size: .7em;
}

#sacred-palette-hex {
	text-align: center;
	font-size: .7em;
}

.exif-url {
    border: 3px solid #0000aa;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 10px;
    margin-top: 1vh;
}

.exif-url pre {
    border-bottom: 2px solid #000088;
    padding-bottom: .5vh;
    margin-bottom: 1vh;
}

.status {
    position: absolute;
    z-index: 2;
    top: 1vh;
    left: 94vw;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: .5vh .5vw .5vh .5vw;
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
}

.btn-top,
.btn-bottom {
    z-index: 2;
    border-radius: .4em; 
    position: fixed;     
    background-color: var(--color-primary);
    color: var(--color-primary-content);
}

.btn-top {
    left: 16vw; 
}

.btn-bottom {
    left: 13vw; 
}

.img-upload-container {
    width: 50%;
    margin: 0 auto;
    border: 3px solid var(--color-primary);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.sacred-guid {
    margin: 0 auto;
    display: flex;
    width: 95%;
    height: 100%;
    padding: 15px;
    gap: 5px;
  }

.flex-grow-1 {
    flex-grow: 1;
}
        
.flex-grow-0 {    
    flex-grow: 0;
}

#sacred-guid-value {
    width: 100%;
}

#palette-table {
    width: 100%;
}

#palette-table td {
    border: 1px solid black;
    height: 1vh;
}

#canvasHolder {
    height: 800px;
    width: 600px;
}

.language-json {
    font-size: 1em;
}

/*
    palette numba stuff
*/

#palette {
    color: black;
}

.choices__list--dropdown {
    width: 80%;
}

/* add a color dot using the --chip var we set in JS */
.choices__list--dropdown .choices__item {
  position: relative;
  padding-left: 28px;
}

.choices__inner {
  border-radius: 8px;
}

/* Let the selected pill inherit the container’s background/text color */
.choices[data-type*="select-one"] .choices__inner {
  transition: background .2s ease, color .2s ease;
}

/* Make the visible single item transparent so the container shows through */
.choices__list--single .choices__item {
  background: transparent !important;
  color: inherit !important;
}

/* Optional: highlight the selected item in the dropdown using the same styles */
.choices__list--dropdown .choices__item.is-selected {
  color: inherit;
  background: inherit;
}

.buckyCheckboxes {
    columns: 4;
}